<mat-tab-group>
  <mat-tab label="Request details">
    <div class="page-view-container details">
      <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="20px">
        <div fxFlex class="action-section">
          <div fxFlex="100" fxLayout="column" >
            <div *ngIf="allowedAction.readyForPickup || allowedAction.closed">
              <h4 class="action-header-text">Action</h4>
              <ul fxLayout="column" class="action-menu">
                <li *ngIf="allowedAction.readyForPickup">
                  <button [disabled]="!requestAction.readyForPickup" mat-stroked-button color="primary" (click)="changeStatus(2)">
                    <div class="button-wrapper">
                      <mat-icon>check</mat-icon>
                      <span>Ready for pickup</span>
                    </div>
                  </button>
                </li>
                <li *ngIf="allowedAction.closed">
                  <button [disabled]="!requestAction.closed" mat-flat-button color="primary" (click)="changeStatus(3)">
                    <div class="button-wrapper">
                      <mat-icon>check</mat-icon>
                      <span>Closed</span>
                    </div>
                  </button>
                </li>
              </ul>
              <mat-divider></mat-divider>
            </div>
            <ul fxFlex="100" fxLayout="column" class="action-menu">
              <li style="margin: 0">
                <button mat-stroked-button routerLink="/requests">
                  <div class="button-wrapper">
                    <mat-icon>keyboard_backspace</mat-icon>
                    <span>Back to list</span>
                  </div>
                </button>
              </li>
            </ul>
          </div>
        </div>
        <div fxFlex.gt-xs="65%" fxFlex.gt-md="80%" fxLayout="column" fxLayoutGap="20px">
          <mat-card fxFlex="100">
            <mat-card-header>
              <mat-card-subtitle><strong>Request details</strong></mat-card-subtitle>
              <div fxFlex></div>
              <div *ngIf="!isLoading">
                <h4>Status:
                  <strong *ngIf="request.requestStatus.requestStatusId === '1'" style="color: #FFC107;">{{request.requestStatus.name}}</strong>
                  <strong *ngIf="request.requestStatus.requestStatusId === '2'" style="color: #009688;">{{request.requestStatus.name}}</strong>
                  <strong *ngIf="request.requestStatus.requestStatusId === '3'" style="color: #03A9F4;">{{request.requestStatus.name}}</strong>
                  <strong *ngIf="request.requestStatus.requestStatusId === '4'" style="color: #FF5722;">{{request.requestStatus.name}}</strong>
                </h4>
              </div>
            </mat-card-header>

            <mat-card-content fxLayout="column">
              <div fxFlex="100" fxLayout="column" fxLayoutAlign="start">
                <!-- Request type -->
                <mat-list
                  *ngIf="!isLoading; else elseLoadingLoadingRequestType">
                  <mat-list-item >
                    <mat-icon mat-list-icon>info</mat-icon>
                    <div mat-line>
                      <strong>{{ request.requestType.name }}</strong>
                    </div>
                    <div mat-line>Request Type</div>
                  </mat-list-item>
                </mat-list>
                <ng-template #elseLoadingLoadingRequestType>
                  <mat-list-item>
                    <div mat-line>
                      <ngx-skeleton-loader
                        fxFlex
                        [theme]="{ height: '20px', width: '20%' }"
                      ></ngx-skeleton-loader>
                    </div>
                    <div mat-line>
                      <ngx-skeleton-loader
                        fxFlex
                        [theme]="{ height: '20px', width: '20%' }"
                      ></ngx-skeleton-loader>
                    </div>
                  </mat-list-item>
                </ng-template>
                <!-- end -->
                <!-- info baptized-->
                <div *ngIf="!isLoading; else elseLoadingBaptismalCertInfo">
                  <mat-list *ngIf="request.requestType.requestTypeId === '1'">
                    <mat-list-item >
                      <mat-icon mat-list-icon>person_outline</mat-icon>
                      <div mat-line>
                        <strong>{{ request.requestersFullName }}</strong>
                      </div>
                      <div mat-line>Name of Requester</div>
                    </mat-list-item>
                    <mat-list-item >
                      <mat-icon mat-list-icon>today</mat-icon>
                      <div mat-line>
                        <strong>{{ request.referenceDate }}</strong>
                      </div>
                      <div mat-line>Date baptized</div>
                    </mat-list-item>
                  </mat-list>
                </div>
                <ng-template #elseLoadingBaptismalCertInfo>
                  <mat-list-item>
                    <div mat-line>
                      <ngx-skeleton-loader
                        fxFlex
                        [theme]="{ height: '20px', width: '20%' }"
                      ></ngx-skeleton-loader>
                    </div>
                    <div mat-line>
                      <ngx-skeleton-loader
                        fxFlex
                        [theme]="{ height: '20px', width: '20%' }"
                      ></ngx-skeleton-loader>
                    </div>
                  </mat-list-item>
                </ng-template>
                <!-- end -->
                <!-- info confirmation-->
                <div *ngIf="!isLoading; else elseLoadingBaptismalCertInfo">
                  <mat-list *ngIf="request.requestType.requestTypeId === '2'">
                    <mat-list-item >
                      <mat-icon mat-list-icon>person_outline</mat-icon>
                      <div mat-line>
                        <strong>{{ request.requestersFullName }}</strong>
                      </div>
                      <div mat-line>Name of Requester</div>
                    </mat-list-item>
                    <mat-list-item >
                      <mat-icon mat-list-icon>today</mat-icon>
                      <div mat-line>
                        <strong>{{ request.referenceDate }}</strong>
                      </div>
                      <div mat-line>Date of confirmation</div>
                    </mat-list-item>
                  </mat-list>
                </div>
                <ng-template #elseLoadingBaptismalCertInfo>
                  <mat-list-item>
                    <div mat-line>
                      <ngx-skeleton-loader
                        fxFlex
                        [theme]="{ height: '20px', width: '20%' }"
                      ></ngx-skeleton-loader>
                    </div>
                    <div mat-line>
                      <ngx-skeleton-loader
                        fxFlex
                        [theme]="{ height: '20px', width: '20%' }"
                      ></ngx-skeleton-loader>
                    </div>
                  </mat-list-item>
                </ng-template>
                <!-- end -->
                <!-- info married-->
                <div *ngIf="!isLoading; else elseLoadingMCertifInfo">
                  <mat-list *ngIf="request.requestType.requestTypeId === '3'">
                    <mat-list-item >
                      <mat-icon mat-list-icon></mat-icon>
                      <div mat-line>
                        <strong>{{ request.husbandFullName }}</strong>
                      </div>
                      <div mat-line>Name of the Husband</div>
                    </mat-list-item>
                    <mat-list-item >
                      <mat-icon mat-list-icon></mat-icon>
                      <div mat-line>
                        <strong>{{ request.wifeFullName }}</strong>
                      </div>
                      <div mat-line>Name of the Wife</div>
                    </mat-list-item>
                    <mat-list-item >
                      <mat-icon mat-list-icon>today</mat-icon>
                      <div mat-line>
                        <strong>{{ request.referenceDate }}</strong>
                      </div>
                      <div mat-line>Date married</div>
                    </mat-list-item>
                  </mat-list>
                </div>
                <ng-template #elseLoadingMCertifInfo>
                  <mat-list-item>
                    <div mat-line>
                      <ngx-skeleton-loader
                        fxFlex
                        [theme]="{ height: '20px', width: '20%' }"
                      ></ngx-skeleton-loader>
                    </div>
                    <div mat-line>
                      <ngx-skeleton-loader
                        fxFlex
                        [theme]="{ height: '20px', width: '20%' }"
                      ></ngx-skeleton-loader>
                    </div>
                    <div mat-line>
                      <ngx-skeleton-loader
                        fxFlex
                        [theme]="{ height: '20px', width: '20%' }"
                      ></ngx-skeleton-loader>
                    </div>
                  </mat-list-item>
                </ng-template>
                <!-- end -->
                <!-- Client info -->
                <mat-list *ngIf="!isLoading; else elseLoadingLoadingClientInfo">
                  <mat-list-item mat-ripple style="cursor: pointer" (click)="viewClientInfo(request.client.user.userId)">
                    <mat-icon mat-list-icon>person</mat-icon>
                    <div mat-line>
                      <strong>{{request.client.fullName}}</strong>
                    </div>
                    <div mat-line>
                      {{ request.client.mobileNumber }}
                    </div>
                    <mat-icon
                      style="position: absolute; right: 0 !important"
                      mat-list-icon
                      >keyboard_arrow_right</mat-icon>
                  </mat-list-item>
                </mat-list>
                <ng-template #elseLoadingLoadingClientInfo>
                  <mat-list-item>
                    <mat-icon mat-list-icon>person</mat-icon>
                    <div mat-line>
                      <ngx-skeleton-loader
                        fxFlex
                        [theme]="{ height: '20px', width: '20%' }"
                      ></ngx-skeleton-loader>
                    </div>
                    <div mat-line>
                      <ngx-skeleton-loader
                        fxFlex
                        [theme]="{ height: '20px', width: '20%' }"
                      ></ngx-skeleton-loader>
                    </div>
                  </mat-list-item>
                </ng-template>
                <!-- end -->
                <mat-divider></mat-divider>
                <!-- Remarks -->
                <mat-list *ngIf="!isLoading; else elseLoadingLoadingRemarks">
                  <mat-list-item>
                    <mat-icon mat-list-icon>comment</mat-icon>
                    <div mat-line><strong>Remarks</strong></div>
                    <div mat-line>{{ request.remarks }}</div>
                  </mat-list-item>
                </mat-list>
                <ng-template #elseLoadingLoadingRemarks>
                  <mat-list-item>
                    <mat-icon mat-list-icon>comment</mat-icon>
                    <div mat-line>
                      <ngx-skeleton-loader
                        fxFlex
                        [theme]="{ height: '20px', width: '20%' }"
                      ></ngx-skeleton-loader>
                    </div>
                    <div mat-line>
                      <ngx-skeleton-loader
                        fxFlex
                        [theme]="{ height: '20px', width: '20%' }"
                      ></ngx-skeleton-loader>
                    </div>
                  </mat-list-item>
                </ng-template>
                <!-- end -->
              </div>
              <br />
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

  </mat-tab>
</mat-tab-group>
