<div class="page-view-container">
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Dashboard</mat-card-subtitle>
      <div fxFlex></div>
    </mat-card-header>
    <mat-card-content>
      <img src="https://scontent.fceb1-3.fna.fbcdn.net/v/t39.30808-6/327361915_990421238595306_7687344091488529820_n.png?_nc_cat=106&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeHEJ09_m4Sv3b6XzerUBFNmgKGA3iIrkTOAoYDeIiuRM3R1PzCmw1snBbZ8xcTCboATbjrhLAOGRgoeE68_lvgd&_nc_ohc=fErefNvdowUAX8m7e06&_nc_ht=scontent.fceb1-3.fna&oh=00_AfAQ-zLGKC4E9k5gGQdK3VBAF8jV3d-eAxG8AxXDLDCN8g&oe=6416201B">
    </mat-card-content>
  </mat-card>
</div>